APP_PORT=3000
DB_PORT=5432
DB_HOST=localhost
POSTGRES_DB=DB_ACCOUNTING
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_USER_DEV=change_me
POSTGRES_PASSWORD_DEV=change_me
JWT_SECRET=change_me
